
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
   
}
.body_font{
    font-family: "Poppins", serif;
}
.head_font{
    font-family: "Questrial", serif;
    background: linear-gradient(90deg, rgba(255,117,88,1) 8%, rgba(126,124,255,1) 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.navbar_img{
    width: 150px;
}
.main___button{
    padding: 10px 25px;
    
    background: rgb(255,117,88);
    background: linear-gradient(90deg, rgba(255,117,88,1) 8%, rgba(126,124,255,1) 71%);
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    margin-top: 15px;
    outline: none;
    transition: 0.5s ease-in-out;
}
.main___button:hover{
    background-color: white;
    color: black;
}
.right_section .submit{
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 30px;
}
.hero_section{
    min-height: 65vh;
    padding: 50px 0px;
    display: flex;
 
    justify-content: center;
    align-items: center;
}
.hero_section .main-section{
  background: url('../img/bacgurond-img/Background-01.jpg');
  

}
.left_section {
  padding: 50px;
}
.right_section{
  padding: 50px;
  box-sizing: border-box;
  
}
.hero_section .left_section{
  background-color: ;
}
.hero_section .left_section h1{
    font-size: 45px;
    font-weight: 600;
}
.hero_section .left_section p{
    margin-top: 15px;
    font-size: 16px;
    color: white;
}
.hero_section .right_section form{
    background-color: #e6e7e6;
    padding: 25px 15px;
    border-radius: 5px;
}
.hero_section .right_section form input, .hero_section .right_section form textarea{
    border: 1px solid rgba(219, 219, 219, 0.808);
    background-color: white;
    color: white;
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.hero_section .right_section form input:focus, .hero_section .right_section form textarea:focus{
    border: 1px solid rgb(112, 112, 112);
    outline: none;
}
.hero_section .right_section textarea {
    margin-bottom: 0px;
    min-height: 200px;
}
.hero_section .right_section button{
    width: 100%;
}





.our_clients{
  margin: 80px 0px;
}
.our_clients h3{
  font-size: 29px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 35px;
  font-size: 50px;
  
    border-bottom: 1px solid #b6b6b6; /* width, style, and color */

  
}
.our_clients .logo-slider {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden;
}

.our_clients  .logos-slide {
  display: flex;
  gap: 20px;
  animation: scrollLeft 40s linear infinite;
}

.our_clients  .first_section .logos-slide {
  animation: scrollLeft 40s linear infinite;
}

.our_clients  .second_section .logos-slide {
  animation: scrollRight 40s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.our_clients  img {
  width: 180px;
  margin-bottom: 25px;
}



.desc____text{
  width: 55%;
  text-align: center;
  margin: auto;
}
.review{
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.our_services{
  background: url('../img/bacgurond-img/Background-02.jpg');
  height: 120vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
} 
.box-sizing h6{
  color: white;
    border-bottom: 2px solid white; /* width, style, and color */
  
}

.our_services h3{
  font-size: 29px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 50px;

 
}
.our_services p{
  padding-bottom: 40px;
}
.our_services .description{
  width: 55%;
  text-align: center;
  margin: auto;
  color: white;
}
.our_services .box-sizing{
  width: 80%;
  border-radius: 12px;
  cursor: pointer;
 
  background-color: #232323;
 margin: 10px;
 height: 200px;

}
.our_services .service .img{
  overflow: hidden !important;
  border-radius: 8px;
}
.our_services .box_service img{
  width: 100%;
  border-radius: 8px;
  transition: 0.5s ease;
  height: 250px;
  object-fit: cover;
}
.our_services .box_service:hover img{
  scale: 1.1;
}
.our_services .box_service h5{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.our_services .box_service p{
  font-size: 15px;
  margin-bottom: 0px;
}
.counter-section {
  min-height: 100%;
  background: linear-gradient(90deg, rgba(255,117,88,1) 8%, rgba(126,124,255,1) 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 59PX;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.counter-section .spen{
 padding: 10px;
 font-family: "Poppins", serif;
 justify-content: center;
 font-size: 20PX;
 
}
.counter-section .spen h5{
  font-size: 35px;
  background: linear-gradient(90deg, rgba(255,117,88,1) 8%, rgba(126,124,255,1) 71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.five-hander {
  font-family: "Questrial", serif;
  background: linear-gradient(90deg, rgba(255, 117, 88, 1) 8%, rgba(126, 124, 255, 1) 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
}
.review p{
  font-size: 20px;
}
.our-portofilo-card img{
  width: 100%;
  border-radius: 8px;
  transition: 0.5s ease;
  height: 220px;
  object-fit: cover;
}
.our-portofilo-card .img-card{
   border: 30px;
 
}
.our-portofilo-card .card{
  background-color: #666666;
}
.our-portofilo{
  margin: 40px 0px;

}
.our-portofilo h4{
  font-size: 29px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Questrial", serif;
    padding: 10px;
}
.card{
  align-items: center;
}
.our-portofilo-card .card{
  padding: 20px;
  min-height: 30px;
}
.our-portofilo-card .card button{
    width: 50%;
}
.our-portofilo-card .card h5{
  padding-top: 20px;
}
.customer-review h5{
  font-size: 29px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Questrial", serif;
  padding: 10px;
  background: linear-gradient(90deg, rgba(255,117,88,1) 8%, rgba(126,124,255,1) 71%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.custmer-para{
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Questrial", serif;
  
}

.customer-review .customer-review-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    background-color:   #1e1f1e;
  
      width: 248px;
      height: 250px;
}
 
.customer-review .img___flex {
  display: flex
;
  margin-bottom: 15px;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 30px;
}
 
 

.customer-review-card h1{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.customer-review-card{
  color: white;
font-size: 10px;
padding: 10px;
}
 

.customer-review .customer-review-card .img___flex .text{
  margin-left: 15px;
}
.customer-review .customer-review-card .img___flex .text h6{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}
.customer-review .customer-review-card .img___flex .text span{
  margin-bottom: 0;
  font-size: 14px;
}
.customer-review .customer-review-card .img___flex img{
  width: 50px;
}
.customer-review .customer-review-card .icons{
  display: flex;
  margin-bottom: 15px;
  gap: 5px;
}
.customer-review .customer-review-card .icons i{
  font-size: 20px;
  color: goldenrod;
}
.customer-review .customer-review-card .review{
  font-size: 15px;
  margin-bottom: 0px;
}




.foter-section-main{
  background-color: ur;
  padding: 40px 0px 0px ;
  margin-top: 80px;
}
.social-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: #3b5998; /* Default Facebook color */
  color: white;
  margin-bottom: 5px;
}

.social-icon div {
  margin-top: 5px;
  font-size: 14px;
}

.facebook {
  background-color: #3b5998; /* Facebook blue */
}

.twitter {
  background-color: #1da1f2; /* Twitter blue */
}

.instagram {
  background-color: #e1306c; /* Instagram pinkish */
}

.linkedin {
  background-color: #0077b5; /* LinkedIn blue */
}

.social-icon i {
  vertical-align: middle;
}



.footer___bottom{
  padding: 25px 0px 10px;
  margin-top: 35px;
  border-top: 1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.icons___flex{
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}
.icons___flex i{
  font-size: 25px;
}
.foter-section-main{
  background: url('../img/bacgurond-img/Background-02.jpg');
  color: white;
}

 
.foter-section-main .links-main{
  margin-top: 30px;
  justify-content: center;
  
}
.foter-section-main .links-main p{
  margin-bottom: 6px;
  font-size: 16px;
  color: white;
}

.foter-section-main .links-main h5{
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 600;
}
.foter-section-main .links-main a{
  text-decoration: none;
  color: white;
}
.foter-section-main .links-main a:hover{
  text-decoration: none;
}
.foter-section-main .main-icon{
justify-content: center;
padding: 20px;
}
.foter-section-main .links-main a{
  color: white;
  text-decoration: none;
}

.foter-section-main .footer_description{
  width: 90%;
  font-size: 15px;
}





@media screen and (max-width: 500px) {
  .navbar_img{
    width: 120px;
  }
  .nav__btn{
    padding: 8px 20px;
  }
  .hero_section .left_section h1{
    font-size: 34px;
  }
  .hero_section .right_section form{
    margin-top: 40px;
    
  }
  .hero_section .left_section p{
    margin-bottom: 0;
  }
  .our_clients {
    margin: 80px 0px 45px;
}
.counter-section .spen {
  font-size: 11px;
}
.our_clients h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 26px;
}
.our_services h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.our_services .description {
  width: 100%;
  text-align: center;
  margin: auto;
}
.counter-section .spen h5 {
  font-size: 22px;
}
.our-portofilo h4 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Questrial", serif;
  padding: 10px;
}
.desc____text {
  width: 100%;
  text-align: center;
  margin: auto;
}
.customer-review h5 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Questrial", serif;
  padding: 10px;
}
.our-portofilo-card .card {
  padding: 12px;
  min-height: 30px;
}
.h5, h5 {
  font-size: 17px;
  
}
.main-butn {
  padding: 10px 25px;
  background-color: black;
  border-radius: 20px;
  color: white;
  border: 1px solid black;
  margin-top: 6px;
  outline: none;
  transition: 0.5s ease-in-out;
}
.hero_section {
  min-height: 65vh;
  padding: 50px 3px;
  display: flex;
  background-color: rgb(228, 228, 228);
  justify-content: center;
  align-items: center;
}
.counter-section .spen {
  font-size: 11px;
  padding: 15px;
}
.counter-section {
  min-height: 100%;
  
  color: white;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 59PX;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
}