
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}
.body_font{
    font-family: "Poppins", serif;
}
.head_font{
    font-family: "Questrial", serif;
}
.navbar_img{
    width: 150px;
}
.main___button{
    padding: 10px 25px;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    margin-top: 15px;
    outline: none;
    transition: 0.5s ease-in-out;
}
.main___button:hover{
    background-color: white;
    color: black;
}
.hero_section{
    min-height: 65vh;
    padding: 50px 0px;
    display: flex;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    align-items: center;
}
.hero_section .left_section h1{
    font-size: 45px;
    font-weight: 600;
}
.hero_section .left_section p{
    margin-top: 15px;
    font-size: 16px;
}
.hero_section .right_section form{
    background-color: rgba(197, 197, 197, 0.842);
    padding: 25px 15px;
    border-radius: 5px;
}
.hero_section .right_section form input, .hero_section .right_section form textarea{
    border: 1px solid rgba(219, 219, 219, 0.808);
    background-color: white;
    color: white;
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.hero_section .right_section form input:focus, .hero_section .right_section form textarea:focus{
    border: 1px solid rgb(112, 112, 112);
    outline: none;
}
.hero_section .right_section textarea {
    margin-bottom: 0px;
    min-height: 200px;
}
.hero_section .right_section button{
    width: 100%;
}





.our_clients{
  margin: 80px 0px;
}
.our_clients h3{
  font-size: 29px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 35px;
}
.our_clients .logo-slider {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden;
}

.our_clients  .logos-slide {
  display: flex;
  gap: 20px;
  animation: scrollLeft 40s linear infinite;
}

.our_clients  .first_section .logos-slide {
  animation: scrollLeft 40s linear infinite;
}

.our_clients  .second_section .logos-slide {
  animation: scrollRight 40s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.our_clients  img {
  width: 180px;
  margin-bottom: 25px;
}



.desc____text{
  width: 55%;
  text-align: center;
  margin: auto;
}


.our_services h3{
  font-size: 29px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.our_services .description{
  width: 55%;
  text-align: center;
  margin: auto;
}
.our_services .box_service{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;  
  border-radius: 12px;
  cursor: pointer;
  padding: 15px;
}
.our_services .box_service .img{
  overflow: hidden !important;
  border-radius: 8px;
}
.our_services .box_service img{
  width: 100%;
  border-radius: 8px;
  transition: 0.5s ease;
  height: 250px;
  object-fit: cover;
}
.our_services .box_service:hover img{
  scale: 1.1;
}
.our_services .box_service h5{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.our_services .box_service p{
  font-size: 15px;
  margin-bottom: 0px;
}
.counter-section {
  min-height: 100%;
  background-color: black;
  color: white;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 59PX;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.counter-section .spen{
 padding: 10px;
 font-family: "Poppins", serif;
 justify-content: center;
 font-size: 20PX;
 
}
.counter-section .spen h5{
  font-size: 35px;
}
.counter-section .spen{
font-size: 15px;
}
.our-portofilo-card img{
  width: 100%;
  border-radius: 8px;
  transition: 0.5s ease;
  height: 220px;
  object-fit: cover;
}
.our-portofilo-card .img-card{
   border: 30px;
 
}
.our-portofilo{
  margin: 40px 0px;

}
.our-portofilo h4{
  font-size: 29px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Questrial", serif;
    padding: 10px;
}
.card{
  align-items: center;
}
.our-portofilo-card .card{
  padding: 20px;
  min-height: 30px;
}
.our-portofilo-card .card button{
    width: 50%;
}
.our-portofilo-card .card h5{
  padding-top: 20px;
}
.customer-review h5{
  font-size: 29px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Questrial", serif;
  padding: 10px;
}
.custmer-para{
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Questrial", serif;
  
}

.customer-review .customer-review-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
}
.customer-review .img___flex{
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.customer-review .customer-review-card .img___flex .text{
  margin-left: 15px;
}
.customer-review .customer-review-card .img___flex .text h6{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}
.customer-review .customer-review-card .img___flex .text span{
  margin-bottom: 0;
  font-size: 14px;
}
.customer-review .customer-review-card .img___flex img{
  width: 50px;
}
.customer-review .customer-review-card .icons{
  display: flex;
  margin-bottom: 15px;
  gap: 5px;
}
.customer-review .customer-review-card .icons i{
  font-size: 20px;
  color: goldenrod;
}
.customer-review .customer-review-card .review{
  font-size: 15px;
  margin-bottom: 0px;
}
